@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  /* For Firefox */
  scrollbar-width: none;
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
  /* Optional: ensure scrolling works for the container */
  overflow: auto; 
}

/* For Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.thin-scrollbar {
  /* For Firefox */
  scrollbar-width: 0.3px;
  /* For Internet Explorer and Edge */
  -ms-overflow-style: 10px;
  /* Optional: ensure scrolling works for the container */
  overflow: auto; 
}